---
layout: default
---

<img style="width:100%;" src="./static/image/lake_pic_short_max.jpg" />
<h1>Devon Walker</h1>

<h2>Articles <small><a href="/feed.xml" title="Articles RSS"><i class="fa fa-rss"></i></a></small></h2>

<div>
    <ul id="post-list">
        {% for post in site.posts %}
            {% if post.type == "article" %}
                <li id="post-list-item">
                    <h3>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    <small>
                        {{ post.date | date_to_string }}
                    </small>
                    </h3>
                    <p>
                        <!-- {{ post.content | strip_html | truncatewords: 60 }} -->
                        {{ post.description }}
                    </p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
